{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "react-app",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "import",
    "jest",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/prefer-default-export": [
      "off"
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}